body {
    background-color: lightblue;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: darkblue;
}
.pic{
  position: fixed;
  top: 15px;
  left: 15px;

  width: 120px;
  height: 120px;

  border-radius: 50%;
  border: 4px solid white;

  box-shadow: 0 8px 20px rgba(0,0,0,0.3);

  transition: transform 0.3s ease;
}

.pic:hover{
  transform: scale(1.05);
}



